<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.andre_gt.project.studyapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <queries>
        <package android:name="com.andregt.g3project" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyApp">
        <activity
            android:name=".translate.TranslateAcitivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".todolistapplication.ActivityDetailTodo"
            android:exported="false" />
        <activity
            android:name=".timer.CoutdowntimerActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".catatan.activities.NoteActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".catatan.activities.AddTodo"
            android:parentActivityName=".todolistapplication.TodoActivity" />
        <activity
            android:name=".todolistapplication.TodoActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity"></activity>

        <receiver android:name=".todolistapplication.Notifikasi" />
    </application>

</manifest>