<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coolcode.project.studyapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyApp">
        <activity
            android:name="com.coolcode.project.studyapp.translate.TranslateAcitivity"
            android:exported="false" />
        <activity
            android:name="com.coolcode.project.studyapp.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.coolcode.project.studyapp.todo.ActivityDetailTodo"
            android:exported="false" />
        <activity
            android:name="com.coolcode.project.studyapp.timer.CoutdowntimerActivity"
            android:parentActivityName="com.coolcode.project.studyapp.MainActivity" />
        <activity
            android:name="com.coolcode.project.studyapp.note.activities.NoteActivity"
            android:parentActivityName="com.coolcode.project.studyapp.MainActivity" />
        <activity
            android:name="com.coolcode.project.studyapp.note.activities.AddTodo"
            android:parentActivityName="com.coolcode.project.studyapp.todo.TodoActivity" />
        <activity
            android:name="com.coolcode.project.studyapp.todo.TodoActivity"
            android:parentActivityName="com.coolcode.project.studyapp.MainActivity" />
        <activity android:name="com.coolcode.project.studyapp.MainActivity"></activity>

        <receiver android:name="com.coolcode.project.studyapp.todo.Notifikasi" />
    </application>

</manifest>